### python assignment

### 1. printing each word in reverse.

In [2]:
new_string=input()
a=new_string.split(' ')
reverse_string=' '.join(a[::-1]).lower()
b=reverse_string.capitalize()
print(b)

This declaration represents a political commitment among declaration partners to advance a positive vision for the Internet in this era of a united europe
Europe united a of era this in internet the for vision positive a advance to partners declaration among commitment political a represents declaration this

### 2.printing Top 2 occurring words in sorted order. The words that have occurred most of the time

In [9]:
from collections import Counter
split_it = b.split()
Counter = Counter(split_it)
most_occur = Counter.most_common(2)
print(most_occur)

[('a', 3), ('this', 2)]

### Another method

In [10]:
from collections import Counter
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts
s=word_count(reverse_string)
dict(Counter(s).most_common(2))

{'a': 3, 'this': 2}

### ASSIGNMENT-01 SQL

#### SELECT c.id_category, COUNT(p.id_product) AS nproducts
#### FROM ps_category AS c
#### LEFT JOIN ps_category_product AS cp ON cp.id_category=c.id_category
#### LEFT JOIN ps_product AS p ON p.id_product=cp.id_product AND p.active=1
#### GROUP BY c.id_category 
#### ORDER BY nproducts ASC

### ASSIGNMENT -02 SQL

 #### CREATE TABLE Customer (Customer_Id varchar(255));
 #### INSERT INTO Customer VALUES('Customer_Id'),('Abhinash'),('Vipin'),('Mahesh'),('Bijoy'),('Bhabani'),('Ashutosh')
    
 #### CREATE TABLE Voucher (Voucher_Id varchar(255) UNIQUE);
 #### INSERT INTO Voucher VALUES('ABXFH'),('SDFGH'),('ERTYY'),('PPLKM')
    
 ##### as(select *,row_number() over(order by Customer_Id) rr from Customer)
 #### ,cte2 as(select *,row_number() over(order by Voucher_Id) rr from Voucher)
    
 #### select Customer_Id Customer_Key,Voucher_Id Gift_Voucher_Key
 #### from cte c1
 ####  left join cte2 c2 on c1.rr=c2.rr